listening-port=3478
tls-listening-port=5349

fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret=__TURN_SECRET__
realm=__TURN_REALM__

external-ip=__PUBLIC_IP__

no-multicast-peers

min-port=49152
max-port=65535

cert=/etc/coturn/certs/fullchain.pem
pkey=/etc/coturn/certs/privkey.pem

stale-nonce
no-cli
simple-log
log-file=stdout
